@font-face {
    font-family: "Raleway";
    src: url(font/Raleway-VariableFont_wght.ttf);
}

* {
    list-style-type:none;
    margin: 0;
    text-decoration: none;
    font-family: "Raleway";
    }

a:visited {
    color: black;
}

/******************************************************************/

section#sec-1 {
    height: auto;

}

.container {
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

nav {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
}

nav .nav-bloc {
    display: flex;
    flex-direction: row;
    font-weight: 400;

}

.nav-button {
    padding: 25px 25px;

}
.nav-button2 {
    padding: 25px 25px;

}

 .nav-button:hover {
    color: royalblue;
    border-top: royalblue 2px solid;   
}

.blue {
    color: royalblue;
    font-weight: 600;
}

.title {
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 24px;

}

.search-container {
    width: 80%;
    height: auto;
    margin-top: 20px;
}

.search-box {
    display: flex;
    width: 420px;
    height: 50px;
   
}

.search-box .map {
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    border-radius: 16px 0px 0px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: #F2F2F2 1px solid;
}

.input {
    border: none ;
    outline: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-size: 100%;
    font-weight: 650;
    color: black;
}

.submit {
    width: 134px;
    height: 50px;
    border-radius: 0px 14px 14px 0px;
    border: none;
    color:white ;
    background-color: #0065FC;
    font-weight: 600;
    cursor: pointer;
    font-weight: 650;
    font-size: 100%;
}

.filter {
    width: 1444px;
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 31px;
}

.filter-container {
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.filter-btn {
    display: flex;
    width: auto;
    align-items: center;
    border-radius: 35px;
    cursor: pointer;
    border-top: #F2F2F2 2px solid;
    border-right: #F2F2F2 2px solid;
    border-bottom: #F2F2F2 2px solid;
    transition:.2s;
  
}

.filter-btn:hover{
    background-color: #DEEBFF;
    transform: scale(1.1);
}
    

.filter-icon {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 50px;
    color: #0065FC;

}

.filter-text {
    margin-left: 10px;
    padding-right: 20px;
    display: flex;
    font-weight: 600;
}

.filter-title {
    font-size: medium;
}

.info {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: #F2F2F2 1px solid;
    color: #0065FC;
    border-radius: 50%;
    margin-right: 12px;
}

.sec-2 {
    display: flex;
    width: 95%;
    height: 700px;
    justify-content: space-between;
}

.heb-container {
    background-color: #F2F2F2;
    width: 870px;
    height: 600px;
    border-radius: 22px;
    margin-top: 31px;
    padding-top: 31px;
    padding-left: 5px;
    padding-right: 5px;
}

.heb-title {
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 22px;

}

.heb-box {
    width: 860px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.heb-img {
    background-color: white;
    width: 253px;
    height: 195px;
    border: white solid 5px;
    border-radius: 21px;
    cursor: pointer;
    box-shadow: 0 0 16px #0000002e;
    transition: .2s;
}

.heb-img:hover{
    transform: scale(1.1);
}

.heb-thumb {

    border-radius: 21px 21px 0px 0px;
}

.thumb-img {
    border-radius: 21px 21px 0px 0px;
}


.thumb-title {

    margin-left: 10px;
    margin-bottom: 4px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 700;
}

.thumb-subtext {

    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 300;
}

.thumb-star {

    margin-left: 10px;
    color: #0065FC;
    font-size: 12px;
}
.grey-star {
    color: #D9D9D9;
}

.ap-container {
    margin-top: 10px;

}

.ap {
    width: auto;
    height: auto;
    font-size: large;
    font-weight: 700;
    margin-left: 30px;

}

.pop {
    display: flex;
    background-color: #F2F2F2;
    height: 600px;
    width: 423px;
    margin-top: 31px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding-top: 31px;
}

.pop-container {
    width: 370px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pop-title {
    display: flex;
    align-items: center;
    width: 343px;
    justify-content: space-between;
}

.fa-chart-line{
    font-size: 25px;
}



.pop-card {
    background-color:white;
    display: flex;
    width: 343px;
    height: 144px;
    border-radius: 19px;
    padding: 5px;
    box-shadow: 0 0 16px #0000002e;
    align-items: center;
    transition: .2s;
}

.pop-card:hover {
    transform:scale(1.1)
}



.img-thumb {
    border-radius: 14px 0px 0px 14px;
}



.text-title {
    width: 140px;
    height: 36px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.pop-subtext {
    font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
}

.white-container {
    width: 133px;
    height: 40px;
}

.act-title{
    margin-left: 20px;
}

.act-container {
    width: 95%;
    height: 447px;
    margin-top: 27px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;

}

.act-box {
    width: 302px;
    height: 445px;
    box-shadow: 0 0 16px #0000002e;
    border-radius: 21px 21px 21px 21px;
    transition: .2s;
}

.act-box:hover {
    transform: scale(1.1);
}

.act-box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.act-card {
    box-shadow: 0 0 16px #0000002e;
    border-radius: 21px 21px 21px 21px;
    transition: .2s;
}
.act-card:hover{
    transform: scale(1.1);
}

.act-card2 {
    box-shadow: 0 0 16px #0000002e;
    border-radius: 21px 21px 21px 21px;
    transition: .2s;
}

.act-card2:hover {
    transform: scale(1.1);
}

.act-card3 {
    box-shadow: 0 0 16px #0000002e;
    border-radius: 21px 21px 21px 21px;
    transition: .2s;
}

.act-card3:hover {
    transform: scale(1.1);
}

.act-card4 {
    box-shadow: 0 0 16px #0000002e;
    border-radius: 21px 21px 21px 21px;
    transition: .2s;
}

.act-card4:hover {
    transform: scale(1.1);
}

.act-card5 {
    box-shadow: 0 0 16px #0000002e;
    border-radius: 21px 21px 21px 21px;
    transition: .2s;
}

.act-card5:hover {
    transform: scale(1.1);
}

.act-img {
    border-radius: 21px 21px 0px 0px;
}
.act-text {
    padding: 15px;
    border-radius: 0px 0px 21px 21px;
}

footer {
    width: 1440px;
    height: 218px;
    background-color: #F2F2F2;
    display: flex;
    margin-top: 50px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 200px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 200px;

}

.footer-text2 {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 200px;
    margin-left: 200px;
}

.footer-text3 {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 200px;
    margin-left: 200px;

}

.footer-title {
    font-size: 18px;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 27px;
}

.footer-subtext {
    margin-bottom: 10px;
    margin-left: 50px;
    font-weight: 450;
}



    





